# Autotools
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
.deps/
install-sh
*.la
.libs/
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
*.o
py-compile
compile
